<!-- <app-nav></app-nav> -->


<div *ngIf="slug == 1">

  <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h2 class="h3 text-light mb-0" id="title-show-product">¿Qué es el score de crédito y cuáles son los mitos que lo rodean?</h2>
      </div>
    </div>
  </div>
  
  <div class="container">
  
    <div><img src="../../../assets/img/mitos.jpg" alt="Image"></div>
  
    <hr class="mt-4 pb-4 mb-3">

    <!-- Product description section 1-->
    <div id="detalle" class="pb-4">
      <!-- CONTENIDO DEL PRODUCTO -->
  
      <h2 data-fontsize="36" data-lineheight="39.6px" class="fusion-responsive-typography-calculated"
        style="--fontSize:36; line-height: 1.1;"><strong>Desde niños nos enseñaban a cumplir las promesas. Si alguien nos
          prestaba un juguete, había que devolverlo.</strong></h2>
      <p>Nuestros papás nos enseñaron que la palabra tiene valor. El nombre vale.</p>
      <p>Nuestros hijos nos cuestionan si no cumplimos lo que ofrecimos.</p>
      <p>En las finanzas personales o empresariales se prueba ese aprendizaje frente a cualquier compromiso que asumimos.</p>
      <p>Estas y otras enseñanzas vimos durante la Semana Mejora tu Score.&nbsp;<a
          href="https://www.avalburo.com/preguntas-frecuentes-de-la-semana-mejora-tu-score/">https://www.avalburo.com/preguntas-frecuentes-de-la-semana-mejora-tu-score/</a>
      </p>
      <p>Tener una buena reputación de pago del dinero que nos prestan, es importante. ¿En qué puede afectarnos, en el futuro,
        esa buena reputación de pago? ¡Que nos sigan prestando!</p>
      <p>Las entidades y empresas que prestan dinero o dan crédito nos conocen según nuestra reputación de pago, y ésta, la
        verifican en nuestra historia crediticia, que se presenta en el buró de crédito.</p>
      <p>Suena sencillo y lógico. Pero alrededor de esta explicación, hay muchos mitos como:</p>
      <h2 data-fontsize="36" data-lineheight="39.6px" class="fusion-responsive-typography-calculated"
        style="--fontSize:36; line-height: 1.1;">Es una lista negra de deudores…</h2>
      <p>El buró es una empresa que recibe, almacena y actualiza mes a mes la información crediticia de las personas y
        empresas que pagan o no pagan puntualmente. Las instituciones financieras, cooperativas y casas comerciales entregan
        la información a nivel nacional.</p>
      <p><strong>Estar en el buró es malo…</strong>&nbsp;Estar en el buró de crédito te trae beneficios porque estás preparado
        para el momento en que planees solicitar algún préstamo o necesites cubrir un gasto muy fuerte para el que no estabas
        preparado. Si nunca has solicitado un crédito, no tendrás actividades crediticias que reportar en el buró y las
        instituciones financieras no sabrán cuál es tu comportamiento de pago.</p>
      <p><strong>Nunca sales del buró…</strong>&nbsp;Sales si no tienes actividades crediticias por más de 36 meses. Pero
        mantenerte allí con un alto score o puntaje, refuerza la construcción de tu historial crediticio.</p>
      <p><strong>&nbsp;</strong><strong>El score de crédito califica o descalifica…&nbsp;</strong>Tu score de crédito es el
        número de puntos ganados, que miden el riesgo de pagar tus créditos. Ganas puntos cuando cumples con las cuotas de tu
        crédito y pierdes puntos cuando no cumples.</p>
      <p><strong>Afecta tus posibilidades de empleo…</strong>&nbsp;Hay empresas que verifican tu situación crediticia porque
        si estás sobreendeudado, es posible que pierdas concentración y productividad. La mayoría de empleadores no toma en
        cuenta el score a la hora de contratar.</p>
      <blockquote>
        <p>Visita <a href="https://www.avalburo.com/faq/que-es-el-score-de-credito/">preguntas frecuentes&nbsp;</a></p>
      </blockquote>
  
    </div>
  </div>
</div>

<div *ngIf="slug == 2">

  <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h2 class="h3 text-light mb-0" id="title-show-product">El Decreto 33 aplica a todos los ecuatorianos que cumplan con las definiciones</h2>
      </div>
    </div>
  </div>
  
  <div class="container">
  
    <div><img src="../../../assets/img/alexandra-avalburo.jpg" alt="Image"></div>
  
    <hr class="mt-4 pb-4 mb-3">
    
    <p>La eliminación de la información crediticia de las operaciones vencidas menores a 1.000 USD aplica a todas las
      personas naturales que cumplan con el instructivo. La normativa indica que:</p>
    <ul>
      <li>A partir del 25 de agosto, se registra esta información crediticia, mejorando su perfil crediticio de más de un
        millón de clientes de bancos, cooperativas, almacenes y toda empresa que otorga crédito.</li>
      <li>Si un ciudadano acumula más de 1.000 USD de deuda, no es beneficiario de la medida.</li>
      <li>Si una persona cae en un vencimiento después de esta fecha, ya no es parte de este beneficio. Algo que se ha
        resaltado es que el deudor debe cancelar su deuda. No existe condonación.</li>
    </ul>
    <p>La medida se dictó el 24 de mayo dando 60 días término a los burós para que la apliquen, y tuvo por objeto reactivar
      la economía a través del crédito.<br> Una vez que fue recibido el instructivo de parte de las entidades de control,
      Aval Buró, ratificando su liderazgo, procedió con la eliminación de la información crediticia de los saldos de las
      operaciones vencidas de menos de 1.000 USD.<br> Todas sus Soluciones ya consideran dicha eliminación.</p>
    <p>Además, organizó un webinar con el fin de analizar la implementación de dicha medida.</p>
    <p>La expositora de la charla fue Alexandra Cárdenas, Directora de Operaciones y Tecnología del buró, profesional que
      cuenta con amplia experiencia en el área de tecnología y operaciones, especializada en referencias crediticias.<br>
      Alexandra expuso con varios ejemplos, los cambios existentes en la nueva información que las entidades financieras
      solicitarán de sus clientes.<br> Participaron 230 funcionarios de entidades financieras y empresas que otorgan
      crédito.</p>
  
  </div>

</div>




<div class="border-top border-bottom my-lg-3 py-5">
  <div class="container pt-md-2" id="reviews">
    
    <hr class="mt-4 pb-4 mb-3">
    
    <div class="row">
      <!-- Reviews list-->
      <div class="col-md-10" *ngIf="comentarios.length != 0">
        <div class="d-flex justify-content-end pb-4">
          <div class="form-inline flex-nowrap">
            <label class="text-muted text-nowrap mr-2 d-none d-sm-block" for="sort-reviews">Ordenar por:</label>
            <select class="custom-select custom-select-sm mr-2" (change)="sort_coments()" [(ngModel)]="sort_data_coment">
              <option value="fecha">Fecha</option>
              <option value="raiting">Popular</option>
              <option value="-raiting">Bajo rating</option>
            </select>
            <a class="tn btn-primary btn-sm btn-block" (click)="add_parentId('')" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#preview-1'">
              <i class="czi-wechat align-middle mr-1"></i>Agregar reseña
            </a>
          </div>
        </div>
        <!-- Review-->
        <!-- <ng-container *ngFor="let item of comentarios| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <div class="product-review pb-4 mb-4 border-bottom">
            <div class="d-flex mb-3">
              <div class="media media-ie-fix align-items-center mr-4 pr-2">
                <img class="rounded-circle" width="50" src="../../../assets/img/user.png" alt="Alex Song">
                <div class="media-body pl-3">
                  <h6 class="font-size-sm mb-0">{{item.user}} </h6><span
                    class="font-size-ms text-muted">{{ item.fechaCreacion | date:'MMM d, y' }}</span>
                </div>
              </div>
              <div>
                <div class="star-rating" *ngIf="item.estrellas == 5">
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                </div>
                <div class="star-rating" *ngIf="item.estrellas >= 4 && item.estrellas < 5">
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled"></i>
                </div>
                <div class="star-rating" *ngIf="item.estrellas >= 3 && item.estrellas < 4">
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                </div>
                <div class="star-rating" *ngIf="item.estrellas >= 2 && item.estrellas < 3">
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                </div>
                <div class="star-rating" *ngIf="item.estrellas >= 1 && item.estrellas < 2">
                  <i class="sr-star czi-star-filled active"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                </div>
                <div class="star-rating" *ngIf="item.estrellas >= 0 && item.estrellas < 1">
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                  <i class="sr-star czi-star-filled"></i>
                </div>
                <div class="font-size-ms text-muted">{{item.estrellas}} de 5 estrellas para el articulo.</div>
              </div>
            </div>
            <p class="font-size-md mb-2">{{item.comentario}}</p>
            <div class="text-nowrap">
              <button class="btn-like" (click)="add_likes(item._id)" type="button">{{item.likes}}</button>
              <button class="btn-dislike" (click)="add_dislikes(item._id)" type="button">{{item.dislikes}}</button>
            </div>
          </div>
        </ng-container>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="count_cat"></ngb-pagination> -->

        <ng-container *ngFor="let item of comentarios">
          <ng-template
            [ngTemplateOutlet]="nodeTemplateRef"
            [ngTemplateOutletContext]="{ $implicit: item }">
          </ng-template>
        </ng-container>


      </div>
      <div class="col-md-7" *ngIf="comentarios.length == 0">
        <h3 class="pt-3"><i class="czi-orange"></i> No existe aún ninguna reseña.</h3>
      </div>

      

      
    </div>
  
  </div>
</div>




<!-- <app-foot></app-foot> -->


<!-- Define the recursive template. -->
<ng-template #nodeTemplateRef let-node>

  

	<div class="node" [class.node__selected]="( node === selectedTreeNode )">

		<!-- <a (click)="selectNode( node )" class="node__label">
			{{ node.user }}
		</a> -->

    <div class="product-review pb-4 mb-4 border-bottom">
      <div class="d-flex mb-3">
        <div class="media media-ie-fix align-items-center mr-4 pr-2">
          <img class="rounded-circle" width="50" src="../../../assets/img/user.png" alt="Alex Song">
          <div class="media-body pl-3">
            <h6 class="font-size-sm mb-0">{{node.user}} </h6><span
              class="font-size-ms text-muted">{{ node.fechaCreacion | date:'MMM d, y' }}</span>
          </div>
        </div>
        <div>
          <div class="star-rating" *ngIf="node.estrellas == 5">
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
          </div>
          <div class="star-rating" *ngIf="node.estrellas >= 4 && node.estrellas < 5">
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled"></i>
          </div>
          <div class="star-rating" *ngIf="node.estrellas >= 3 && node.estrellas < 4">
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
          </div>
          <div class="star-rating" *ngIf="node.estrellas >= 2 && node.estrellas < 3">
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
          </div>
          <div class="star-rating" *ngIf="node.estrellas >= 1 && node.estrellas < 2">
            <i class="sr-star czi-star-filled active"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
          </div>
          <div class="star-rating" *ngIf="node.estrellas >= 0 && node.estrellas < 1">
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
            <i class="sr-star czi-star-filled"></i>
          </div>
          <div class="font-size-ms text-muted">{{node.estrellas}} de 5 estrellas para el articulo.</div>
        </div>
      </div>
      <p class="font-size-md mb-2">{{node.comentario}}</p>
      <div class="text-nowrap">
        <button class="btn-like" (click)="add_likes(node.id)" type="button">{{node.likes}}</button>
        <button class="btn-dislike" (click)="add_dislikes(node.id)" type="button">{{node.dislikes}}</button>
        <button class="btn" (click)="add_parentId(node.id)" type="button" data-toggle="modal" [attr.data-target]="'#preview-1'">
          <i class="czi-reply align-middle mr-1" style="color: #4e54c8;"><span class="ml-1">reply</span></i>
        </button>
      </div>
    </div>



		<div *ngIf="node.children.length" class="node__children">

			<!-- Invoke the recursive template. -->
			<ng-template
				ngFor
				[ngForOf]="node.children"
				[ngForTemplate]="nodeTemplateRef">
				<!--
					NOTE: The "$implicit" property of the ngFor context is what will
					be made available to the template ref's implicit let-node binding.
				-->
			</ng-template>

		</div>

	</div>

</ng-template>

<!--
	Initiate the recursive template rendering. Because our recursive template is going to
	be using the ngFor directive to render recursively, the "context" in the recursive
	instances is going to be the ngForContext. As such, we have to "mock" the initial
	context to look like the context that the ngFor directive will expose internally.
	NOTE: If we used ngContainer or ngTemplate to invoke the recursion internally, we'd
	have more control over which values were made available at each level.
-->
<!-- <ng-template
	[ngTemplateOutlet]="nodeTemplateRef"
	[ngTemplateOutletContext]="{ $implicit: data.root }">
</ng-template> -->





<div class="modal-quick-view modal fade" [attr.id]="'preview-1'" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title product-title">
          <a data-toggle="tooltip" data-placement="right" title="Go to product page">Escribir reseña
          </a>
        </h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- Leave review form-->
        <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-lg" style="background: white !important;">
          <form #reviewForm="ngForm" (ngSubmit)="saveComent(reviewForm)">
            <div class="form-group" *ngIf="msm_error_review">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{msm_error_review}}
                <button type="button" class="close" (click)="close_alert()" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="review-name">Nombre</label>
              <input type="text" required="" class="form-control" rows="2" placeholder="Nombre" name="review_name" [(ngModel)]="review_name" />
            </div>
            <div class="form-group">
              <label for="review-rating">Rating<span class="text-danger">*</span></label>
              <select class="custom-select" required="" name="review_estrellas" [(ngModel)]="review_estrellas">
                <option value="" selected disabled>Selecciona</option>
                <option value="5">5 estrellas</option>
                <option value="4">4 estrellas</option>
                <option value="3">3 estrellas</option>
                <option value="2">2 estrellas</option>
                <option value="1">1 estrella</option>
              </select>
            </div>
            <div class="form-group">
              <label for="review-text">Reseña<span class="text-danger">*</span></label>
              <textarea class="form-control" rows="5" required="" name="review_comentario"
                [(ngModel)]="review_comentario" placeholder="Escribe que tal te parecio este articulo.">
              </textarea>
            </div>
            <ng-container>
              <button class="btn btn-primary btn-shadow btn-block" type="submit">Enviar reseña</button>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
</div>